# 4. Análisis Exploratorio del Dataset

In [36]:
import requests 
import pandas as pd
import datetime
import numpy as np

In [23]:
#import pip
#def install(package):
    #pip.main(['install', package])

#install('matplotlib')

In [22]:
#import matplotlib.pyplot as plt

Los datos se toman de la API de criptomonedas y Bitcoin de Nomics, una firma de análisis y datos de criptomonedas respaldada por Coinbase Ventures.

Nomics es un Proveedor de Información sobre Criptoactivos en tiempo real.

Ahora, para empezar, necesitamos nuestro endpoint y nuestro diccionario de parámetros por le cual se va a filtrar la información que se extrae de la api.

In [8]:
endpoint = 'https://api.nomics.com/v1/currencies/ticker' ##exchange-rates'
payload = {'key':'e2ab521d16a4fc0d2f5739f0e8a3332d8aaad291', 'interval':'1d,30d' ,'convert':'EUR', 'per-page':'100', 'page':'1'} # para filtrar por id se agrega el parametro 'ids':'BTC,ETH,XRP'

In [9]:
r = requests.get(endpoint, params=payload)

In [10]:
r.status_code

200

In [11]:
r.encoding

'utf-8'

Se disecciona la respuesta

In [12]:
jsonDivisa = r.json()

Se revisa el tamaño

In [14]:
len(jsonDivisa)

100

Ahora se identifica el tipo del primer elemento de la lista y se muestra

In [15]:
print(type(jsonDivisa[0]))
jsonDivisa[0]

<class 'dict'>

{'id': 'BTC',
 'currency': 'BTC',
 'symbol': 'BTC',
 'name': 'Bitcoin',
 'logo_url': 'https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg',
 'status': 'active',
 'price': '37826.90240597',
 'price_date': '2022-02-11T00:00:00Z',
 'price_timestamp': '2022-02-11T02:10:00Z',
 'circulating_supply': '18954368',
 'max_supply': '21000000',
 'market_cap': '716985028503',
 'market_cap_dominance': '0.4037',
 'num_exchanges': '408',
 'num_pairs': '85131',
 'num_pairs_unmapped': '6838',
 'first_candle': '2011-08-18T00:00:00Z',
 'first_trade': '2011-08-18T00:00:00Z',
 'first_order_book': '2017-01-06T00:00:00Z',
 'rank': '1',
 'rank_delta': '0',
 'high': '58436.11913501',
 'high_timestamp': '2021-11-08T00:00:00Z',
 '1d': {'volume': '39888694239.64',
  'price_change': '-594.89123192',
  'price_change_pct': '-0.0155',
  'volume_change': '14742353693.17',
  'volume_change_pct': '0.5863',
  'market_cap_change': '-11239555578.44',
  'market_cap_change_pct': '-0.0154'},
 '30d': {'volume': '845688945828.05',
  'price_change': '-625.98209004',
  'price_change_pct': '-0.0163',
  'volume_change': '-91370852607.10',
  'volume_change_pct': '-0.0975',
  'market_cap_change': '-10792759306.06',
  'market_cap_change_pct': '-0.0148'}}

Se normaliza y almacenan los datos en un dataframe

In [16]:
df = pd.DataFrame.from_dict(jsonDivisa)
df.head()

,id,currency,symbol,name,logo_url,status,price,price_date,price_timestamp,circulating_supply,...,first_trade,first_order_book,rank,rank_delta,high,high_timestamp,1d,30d,platform_currency,first_priced_at
0,BTC,BTC,BTC,Bitcoin,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,37826.90240597,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,18954368,...,2011-08-18T00:00:00Z,2017-01-06T00:00:00Z,1,0,58436.11913501,2021-11-08T00:00:00Z,"{'volume': '39888694239.64', 'price_change': '...","{'volume': '845688945828.05', 'price_change': ...",NaN,NaN
1,ETH,ETH,ETH,Ethereum,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,2676.73225824,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,119530063,...,2015-08-07T00:00:00Z,2018-08-29T00:00:00Z,2,0,4159.36282543,2021-11-08T00:00:00Z,"{'volume': '25629229067.44', 'price_change': '...","{'volume': '598401210441.96', 'price_change': ...",ETH,NaN
2,USDT,USDT,USDT,Tether,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,0.87762552,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,78385451173,...,2013-12-27T00:00:00Z,2018-08-29T00:00:00Z,3,0,0.97148261,2015-11-04T00:00:00Z,"{'volume': '80134237200.90', 'price_change': '...","{'volume': '1948715841360.21', 'price_change':...",ETH,NaN
3,BNB,BNB,BNB,Binance Coin,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,361.99858103,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,168137036,...,2017-07-14T00:00:00Z,2018-08-29T00:00:00Z,4,0,572.21444090,2021-11-25T00:00:00Z,"{'volume': '2027620547.01', 'price_change': '-...","{'volume': '62992674044.60', 'price_change': '...",BNB,NaN
4,USDC,USDC,USDC,USD Coin,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,0.87696925,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,52086157455,...,2018-09-27T00:00:00Z,2018-10-26T00:00:00Z,5,0,0.93949237,2020-03-20T00:00:00Z,"{'volume': '4850036350.94', 'price_change': '0...","{'volume': '121749621160.62', 'price_change': ...",ETH,NaN

Este es el dataframe con los datos de la petición, con los cuales se espera resolver las siguientes preguntas:

¿El conjunto de datos que tengo realmente me sirve para responder algunas de las preguntas que me planteé? ¿Qué tamaño tiene mi conjunto de datos? ¿Serán datos suficientes?

In [58]:
print('Tamaño Dataframe:', len(df))
print('Cantidad de filas y columnas:', df.shape)
print('Nombre columnas:',df.columns)

Tamaño Dataframe: 100
Cantidad de filas y columnas: (100, 27)
Nombre columnas: Index(['id', 'currency', 'symbol', 'name', 'logo_url', 'status', 'price',
       'price_date', 'price_timestamp', 'circulating_supply', 'max_supply',
       'market_cap', 'market_cap_dominance', 'num_exchanges', 'num_pairs',
       'num_pairs_unmapped', 'first_candle', 'first_trade', 'first_order_book',
       'rank', 'rank_delta', 'high', 'high_timestamp', '1d', '30d',
       'platform_currency', 'first_priced_at'],
      dtype='object')

¿Qué columnas tengo y qué información tengo en cada una de esas columnas? Los nombres que tienen mis columnas, ¿son el nombre más apropiado? ¿Qué tipos de datos tengo en cada columna? ¿Parecen ser el tipo correcto de datos? ¿O es un tipo de datos "incorrecto"? Si selecciono algunas filas al azar y las observo, ¿estoy obteniendo los datos que debería? ¿O hay datos que parecen estar "sucios" o "incorrectos"?

# 5. Limpieza de datos y agregaciones

Primero se identifican las columnas, la cantidad de filas sin nulos y los tipos de datos de cada columna

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    100 non-null    object
 1   currency              100 non-null    object
 2   symbol                100 non-null    object
 3   name                  100 non-null    object
 4   logo_url              100 non-null    object
 5   status                100 non-null    object
 6   price                 100 non-null    object
 7   price_date            100 non-null    object
 8   price_timestamp       100 non-null    object
 9   circulating_supply    100 non-null    object
 10  max_supply            89 non-null     object
 11  market_cap            100 non-null    object
 12  market_cap_dominance  100 non-null    object
 13  num_exchanges         100 non-null    object
 14  num_pairs             100 non-null    object
 15  num_pairs_unmapped    100 non-null    object
 16  first_candle          100 non-null    object
 17  first_trade           99 non-null     object
 18  first_order_book      100 non-null    object
 19  rank                  100 non-null    object
 20  rank_delta            100 non-null    object
 21  high                  100 non-null    object
 22  high_timestamp        100 non-null    object
 23  1d                    100 non-null    object
 24  30d                   100 non-null    object
 25  platform_currency     67 non-null     object
 26  first_priced_at       15 non-null     object
dtypes: object(27)
memory usage: 21.2+ KB

Ahora se puede obtener una descripción estadistica de los datos numéricos

In [60]:
df.isna()

,id,currency,symbol,name,logo_url,status,price,price_date,price_timestamp,circulating_supply,...,first_trade,first_order_book,rank,rank_delta,high,high_timestamp,1d,30d,platform_currency,first_priced_at
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
96,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
97,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
98,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
99,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True

los NaN encontrados por columna son:

In [61]:
df.isna().sum(axis=0) # Los NaN encontrados por fila son: df.isna().sum(axis=1)

id                       0
currency                 0
symbol                   0
name                     0
logo_url                 0
status                   0
price                    0
price_date               0
price_timestamp          0
circulating_supply       0
max_supply              11
market_cap               0
market_cap_dominance     0
num_exchanges            0
num_pairs                0
num_pairs_unmapped       0
first_candle             0
first_trade              1
first_order_book         0
rank                     0
rank_delta               0
high                     0
high_timestamp           0
1d                       0
30d                      0
platform_currency       33
first_priced_at         85
dtype: int64

Se eliminan las filas donde todos los valores sean NaN

In [76]:
df_limpio_na = df.dropna(axis=0, how='all')
df_limpio_na

,id,currency,symbol,name,logo_url,status,price,price_date,price_timestamp,circulating_supply,...,first_trade,first_order_book,rank,rank_delta,high,high_timestamp,1d,30d,platform_currency,first_priced_at
0,BTC,BTC,BTC,Bitcoin,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,37826.90240597,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,18954368,...,2011-08-18T00:00:00Z,2017-01-06T00:00:00Z,1,0,58436.11913501,2021-11-08T00:00:00Z,"{'volume': '39888694239.64', 'price_change': '...","{'volume': '845688945828.05', 'price_change': ...",NaN,NaN
1,ETH,ETH,ETH,Ethereum,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,2676.73225824,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,119530063,...,2015-08-07T00:00:00Z,2018-08-29T00:00:00Z,2,0,4159.36282543,2021-11-08T00:00:00Z,"{'volume': '25629229067.44', 'price_change': '...","{'volume': '598401210441.96', 'price_change': ...",ETH,NaN
2,USDT,USDT,USDT,Tether,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,0.87762552,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,78385451173,...,2013-12-27T00:00:00Z,2018-08-29T00:00:00Z,3,0,0.97148261,2015-11-04T00:00:00Z,"{'volume': '80134237200.90', 'price_change': '...","{'volume': '1948715841360.21', 'price_change':...",ETH,NaN
3,BNB,BNB,BNB,Binance Coin,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,361.99858103,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,168137036,...,2017-07-14T00:00:00Z,2018-08-29T00:00:00Z,4,0,572.21444090,2021-11-25T00:00:00Z,"{'volume': '2027620547.01', 'price_change': '-...","{'volume': '62992674044.60', 'price_change': '...",BNB,NaN
4,USDC,USDC,USDC,USD Coin,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,0.87696925,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,52086157455,...,2018-09-27T00:00:00Z,2018-10-26T00:00:00Z,5,0,0.93949237,2020-03-20T00:00:00Z,"{'volume': '4850036350.94', 'price_change': '0...","{'volume': '121749621160.62', 'price_change': ...",ETH,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,MINA,MINA,MINA,Mina Protocol,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,2.38706691,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,374145973,...,2021-04-13T00:00:00Z,2021-04-15T00:00:00Z,96,-2,45.88624230,2021-05-30T00:00:00Z,"{'volume': '41980191.34', 'price_change': '-0....","{'volume': '1337961195.85', 'price_change': '-...",NaN,2021-04-14T14:25:23.039277Z
96,XEM,XEM,XEM,NEM,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,0.099004095,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,8999999999,...,2015-03-31T00:00:00Z,2018-08-29T00:00:00Z,97,-2,1.50484282,2018-01-07T00:00:00Z,"{'volume': '30221637.96', 'price_change': '-0....","{'volume': '854525834.73', 'price_change': '-0...",NaN,NaN
97,HOT,HOT,HOT,Holo,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,0.0047768784,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,177619433541,...,2018-04-29T00:00:00Z,2018-08-29T00:00:00Z,98,1,0.024381324,2021-04-05T00:00:00Z,"{'volume': '83958505.25', 'price_change': '-0....","{'volume': '1911184503.51', 'price_change': '-...",ETH,NaN
98,DCR,DCR,DCR,Decred,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,60.24148743,2022-02-11T00:00:00Z,2022-02-11T02:09:00Z,13755681,...,2016-05-16T00:00:00Z,2018-09-12T00:00:00Z,99,2,205.56378000,2021-04-16T00:00:00Z,"{'volume': '4697862.37', 'price_change': '0.54...","{'volume': '247138398.32', 'price_change': '5....",NaN,NaN
99,LN,LN,LN,LINK,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,129.58214158,2022-02-11T00:00:00Z,2022-02-11T02:09:00Z,5976022,...,NaN,2020-03-27T00:00:00Z,100,2,278.79163202,2021-04-01T00:00:00Z,"{'volume': '405829.38', 'price_change': '-4.86...","{'volume': '11661414.75', 'price_change': '3.2...",NaN,NaN

Para los registros que no tengan max_supply voy a actualizar el valor con 0

In [84]:
df_limpio_na['max_supply'] = df_limpio_na['max_supply'].fillna(0)
df_limpio_na

,id,currency,symbol,name,logo_url,status,price,price_date,price_timestamp,circulating_supply,...,first_trade,first_order_book,rank,rank_delta,high,high_timestamp,1d,30d,platform_currency,first_priced_at
0,BTC,BTC,BTC,Bitcoin,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,37826.90240597,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,18954368,...,2011-08-18T00:00:00Z,2017-01-06T00:00:00Z,1,0,58436.11913501,2021-11-08T00:00:00Z,"{'volume': '39888694239.64', 'price_change': '...","{'volume': '845688945828.05', 'price_change': ...",NaN,NaN
1,ETH,ETH,ETH,Ethereum,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,2676.73225824,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,119530063,...,2015-08-07T00:00:00Z,2018-08-29T00:00:00Z,2,0,4159.36282543,2021-11-08T00:00:00Z,"{'volume': '25629229067.44', 'price_change': '...","{'volume': '598401210441.96', 'price_change': ...",ETH,NaN
2,USDT,USDT,USDT,Tether,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,0.87762552,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,78385451173,...,2013-12-27T00:00:00Z,2018-08-29T00:00:00Z,3,0,0.97148261,2015-11-04T00:00:00Z,"{'volume': '80134237200.90', 'price_change': '...","{'volume': '1948715841360.21', 'price_change':...",ETH,NaN
3,BNB,BNB,BNB,Binance Coin,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,361.99858103,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,168137036,...,2017-07-14T00:00:00Z,2018-08-29T00:00:00Z,4,0,572.21444090,2021-11-25T00:00:00Z,"{'volume': '2027620547.01', 'price_change': '-...","{'volume': '62992674044.60', 'price_change': '...",BNB,NaN
4,USDC,USDC,USDC,USD Coin,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,0.87696925,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,52086157455,...,2018-09-27T00:00:00Z,2018-10-26T00:00:00Z,5,0,0.93949237,2020-03-20T00:00:00Z,"{'volume': '4850036350.94', 'price_change': '0...","{'volume': '121749621160.62', 'price_change': ...",ETH,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,MINA,MINA,MINA,Mina Protocol,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,2.38706691,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,374145973,...,2021-04-13T00:00:00Z,2021-04-15T00:00:00Z,96,-2,45.88624230,2021-05-30T00:00:00Z,"{'volume': '41980191.34', 'price_change': '-0....","{'volume': '1337961195.85', 'price_change': '-...",NaN,2021-04-14T14:25:23.039277Z
96,XEM,XEM,XEM,NEM,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,0.099004095,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,8999999999,...,2015-03-31T00:00:00Z,2018-08-29T00:00:00Z,97,-2,1.50484282,2018-01-07T00:00:00Z,"{'volume': '30221637.96', 'price_change': '-0....","{'volume': '854525834.73', 'price_change': '-0...",NaN,NaN
97,HOT,HOT,HOT,Holo,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,0.0047768784,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,177619433541,...,2018-04-29T00:00:00Z,2018-08-29T00:00:00Z,98,1,0.024381324,2021-04-05T00:00:00Z,"{'volume': '83958505.25', 'price_change': '-0....","{'volume': '1911184503.51', 'price_change': '-...",ETH,NaN
98,DCR,DCR,DCR,Decred,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,60.24148743,2022-02-11T00:00:00Z,2022-02-11T02:09:00Z,13755681,...,2016-05-16T00:00:00Z,2018-09-12T00:00:00Z,99,2,205.56378000,2021-04-16T00:00:00Z,"{'volume': '4697862.37', 'price_change': '0.54...","{'volume': '247138398.32', 'price_change': '5....",NaN,NaN
99,LN,LN,LN,LINK,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,129.58214158,2022-02-11T00:00:00Z,2022-02-11T02:09:00Z,5976022,...,NaN,2020-03-27T00:00:00Z,100,2,278.79163202,2021-04-01T00:00:00Z,"{'volume': '405829.38', 'price_change': '-4.86...","{'volume': '11661414.75', 'price_change': '3.2...",NaN,NaN

In [88]:
df_limpio_na.describe() # Descripción estadistica de los datos numéricos

,id,currency,symbol,name,logo_url,status,price,price_date,price_timestamp,circulating_supply,...,first_trade,first_order_book,rank,rank_delta,high,high_timestamp,1d,30d,platform_currency,first_priced_at
count,100,100,100,100,100,100,100,100,100,100,...,99,100,100,100,100,100,100,100,67,15
unique,100,100,100,100,100,1,100,1,3,100,...,93,64,100,12,100,73,100,100,20,14
top,BTC,BTC,BTC,Bitcoin,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,37826.90240597,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,18954368,...,2020-04-02T00:00:00Z,2018-08-29T00:00:00Z,1,0,58436.11913501,2021-11-08T00:00:00Z,"{'volume': '39888694239.64', 'price_change': '...","{'volume': '845688945828.05', 'price_change': ...",ETH,2021-02-02T14:53:17.269368Z
freq,1,1,1,1,1,100,1,100,86,1,...,2,28,1,40,1,6,1,1,44,2

Para tener un historico de los datos diarios, se almacena el dataframe en un archivo CSV en el cual se pueda ver la fecha en el que se descargaron los datos

In [91]:
fecha= datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
archivo_fecha=f"divisas{fecha}.csv"
df_limpio_na.to_csv(archivo_fecha)

In [97]:
df_limpio_na[df_limpio_na.rank_delta == '0'] # Las divisas que no tienen variación en el ranking

,id,currency,symbol,name,logo_url,status,price,price_date,price_timestamp,circulating_supply,...,first_trade,first_order_book,rank,rank_delta,high,high_timestamp,1d,30d,platform_currency,first_priced_at
0,BTC,BTC,BTC,Bitcoin,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,37826.90240597,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,18954368,...,2011-08-18T00:00:00Z,2017-01-06T00:00:00Z,1,0,58436.11913501,2021-11-08T00:00:00Z,"{'volume': '39888694239.64', 'price_change': '...","{'volume': '845688945828.05', 'price_change': ...",NaN,NaN
1,ETH,ETH,ETH,Ethereum,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,2676.73225824,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,119530063,...,2015-08-07T00:00:00Z,2018-08-29T00:00:00Z,2,0,4159.36282543,2021-11-08T00:00:00Z,"{'volume': '25629229067.44', 'price_change': '...","{'volume': '598401210441.96', 'price_change': ...",ETH,NaN
2,USDT,USDT,USDT,Tether,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,0.87762552,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,78385451173,...,2013-12-27T00:00:00Z,2018-08-29T00:00:00Z,3,0,0.97148261,2015-11-04T00:00:00Z,"{'volume': '80134237200.90', 'price_change': '...","{'volume': '1948715841360.21', 'price_change':...",ETH,NaN
3,BNB,BNB,BNB,Binance Coin,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,361.99858103,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,168137036,...,2017-07-14T00:00:00Z,2018-08-29T00:00:00Z,4,0,572.21444090,2021-11-25T00:00:00Z,"{'volume': '2027620547.01', 'price_change': '-...","{'volume': '62992674044.60', 'price_change': '...",BNB,NaN
4,USDC,USDC,USDC,USD Coin,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,0.87696925,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,52086157455,...,2018-09-27T00:00:00Z,2018-10-26T00:00:00Z,5,0,0.93949237,2020-03-20T00:00:00Z,"{'volume': '4850036350.94', 'price_change': '0...","{'volume': '121749621160.62', 'price_change': ...",ETH,NaN
5,XRP,XRP,XRP,XRP,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,0.71913604,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,47832461678,...,2013-05-09T00:00:00Z,2018-08-29T00:00:00Z,6,0,2.28961925,2018-01-07T00:00:00Z,"{'volume': '3010141579.33', 'price_change': '-...","{'volume': '57146921958.25', 'price_change': '...",NaN,NaN
6,ADA,ADA,ADA,Cardano,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,0.99643935,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,32066390668,...,2017-11-22T00:00:00Z,2018-08-29T00:00:00Z,7,0,2.50105703,2021-09-02T00:00:00Z,"{'volume': '1548731096.07', 'price_change': '-...","{'volume': '57718055397.43', 'price_change': '...",NaN,NaN
7,SOL,SOL,SOL,Solana,https://nomics-api.s3.us-east-2.amazonaws.com/...,active,92.00268192,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,317630644,...,2020-04-10T00:00:00Z,2020-04-07T00:00:00Z,8,0,224.22326234,2021-11-06T00:00:00Z,"{'volume': '2548094256.60', 'price_change': '-...","{'volume': '81836613859.06', 'price_change': '...",SOL,NaN
8,HEX,HEX,HEX,HEX,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,0.18364053,2022-02-11T00:00:00Z,2022-02-11T02:09:00Z,135878864447,...,2020-05-18T00:00:00Z,2020-03-11T00:00:00Z,9,0,0.41546341,2021-09-18T00:00:00Z,"{'volume': '11098778.07', 'price_change': '0.0...","{'volume': '435354367.52', 'price_change': '-0...",ETH,NaN
12,DOGE,DOGE,DOGE,Dogecoin,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,0.13272632,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,132670764300,...,2014-01-21T00:00:00Z,2018-09-12T00:00:00Z,13,0,0.57080576,2021-05-07T00:00:00Z,"{'volume': '968610602.40', 'price_change': '-0...","{'volume': '37519080699.88', 'price_change': '...",NaN,NaN
13,SHIB,SHIB,SHIB,Shiba Inu,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,0.000026567026,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,589732946128898,...,2020-07-31T00:00:00Z,2021-02-01T00:00:00Z,14,0,0.000068611080,2021-10-27T00:00:00Z,"{'volume': '1913311821.36', 'price_change': '-...","{'volume': '34978500216.76', 'price_change': '...",ETH,NaN
14,BUSD,BUSD,BUSD,Binance USD,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,0.87695811,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,17575094806,...,2019-09-19T00:00:00Z,2019-09-19T00:00:00Z,15,0,0.93884425,2020-03-20T00:00:00Z,"{'volume': '4203710930.49', 'price_change': '0...","{'volume': '97762078349.27', 'price_change': '...",ETH,NaN
15,MATIC,MATIC,MATIC,Polygon,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,1.60283858,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,7477274364,...,2019-04-26T00:00:00Z,2019-04-26T00:00:00Z,16,0,2.55217635,2021-12-26T00:00:00Z,"{'volume': '1635205472.82', 'price_change': '-...","{'volume': '38496699754.99', 'price_change': '...",MATIC,NaN
16,CRO,CRO,CRO,Crypto.com Chain,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,0.44232460,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,25263013692,...,2019-03-08T00:00:00Z,2019-03-08T00:00:00Z,17,0,0.78999080,2021-11-23T00:00:00Z,"{'volume': '329822886.74', 'price_change': '-0...","{'volume': '5457468065.38', 'price_change': '0...",ETH,NaN
20,DAI,DAI,DAI,Dai,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,0.87679759,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,9800138275,...,2017-12-22T00:00:00Z,2018-09-07T00:00:00Z,21,0,0.96286728,2020-03-23T00:00:00Z,"{'volume': '501849988.21', 'price_change': '0....","{'volume': '11676435649.13', 'price_change': '...",ETH,NaN
21,LTC,LTC,LTC,Litecoin,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,115.32140987,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,69612433,...,2013-03-25T00:00:00Z,2018-08-29T00:00:00Z,22,0,319.67476955,2021-05-09T00:00:00Z,"{'volume': '1308173565.58', 'price_change': '-...","{'volume': '33397610722.05', 'price_change': '...",NaN,NaN
22,ATOM,ATOM,ATOM,Cosmos,https://nomics-api.s3.us-east-2.amazonaws.com/...,active,24.98237480,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,287977190,...,2019-04-22T00:00:00Z,2019-03-14T00:00:00Z,23,0,38.29268561,2022-01-16T00:00:00Z,"{'volume': '814463889.69', 'price_change': '-1...","{'volume': '45078122360.59', 'price_change': '...",NaN,NaN
23,LINK,LINK,LINK,ChainLink,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,15.13343334,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,467009550,...,2017-09-28T00:00:00Z,2018-08-29T00:00:00Z,24,0,43.05363927,2021-05-09T00:00:00Z,"{'volume': '801423000.67', 'price_change': '-0...","{'volume': '29419821831.50', 'price_change': '...",ETH,NaN
24,NEAR,NEAR,NEAR,Near Protocol,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,10.24513516,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,633014095,...,2020-10-14T00:00:00Z,2020-09-30T00:00:00Z,25,0,17.68933238,2022-01-14T00:00:00Z,"{'volume': '771034233.64', 'price_change': '-0...","{'volume': '33538044201.72', 'price_change': '...",NaN,2020-10-28T18:45:07.594685Z
29,OKB,OKB,OKB,OKEx Utility Token,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,19.19662689,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,262680011,...,2019-06-13T00:00:00Z,2019-02-14T00:00:00Z,30,0,35.29117295,2021-05-02T00:00:00Z,"{'volume': '92368376.73', 'price_change': '-1....","{'volume': '6251674230.31', 'price_change': '-...",ETH,NaN
30,XLM,XLM,XLM,Stellar,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,0.20115888,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,24892876811,...,2014-08-11T00:00:00Z,2018-08-29T00:00:00Z,31,0,0.74535426,2018-01-03T00:00:00Z,"{'volume': '316953673.34', 'price_change': '-0...","{'volume': '9702124825.70', 'price_change': '-...",XLM,NaN
31,STETH,STETH,STETH,Liquid Staked Ether,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,2673.83246136,2022-02-11T00:00:00Z,2022-02-11T02:09:00Z,1851027,...,2020-12-19T00:00:00Z,2021-01-08T00:00:00Z,32,0,4128.63975201,2021-11-08T00:00:00Z,"{'volume': '7215128.15', 'price_change': '-113...","{'volume': '684081726.54', 'price_change': '-2...",ETH,2020-12-28T21:21:34.943723Z
32,FTM,FTM,FTM,Fantom,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,1.84002388,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,2541152731,...,2018-10-29T00:00:00Z,2019-06-04T00:00:00Z,33,0,2.90066564,2022-01-16T00:00:00Z,"{'volume': '1603618416.03', 'price_change': '-...","{'volume': '93454464244.91', 'price_change': '...",FTM,NaN
33,UNI,UNI,UNI,Uniswap Protocol Token,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,9.94051927,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,458880974,...,2020-09-17T00:00:00Z,2019-10-11T00:00:00Z,34,0,35.83892862,2021-05-04T00:00:00Z,"{'volume': '288773352.11', 'price_change': '-0...","{'volume': '8804256657.53', 'price_change': '-...",ETH,NaN
34,MANA,MANA,MANA,Decentraland,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,2.79675508,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,1514648726,...,2017-07-17T00:00:00Z,2018-08-29T00:00:00Z,35,0,4.66434131,2021-11-25T00:00:00Z,"{'volume': '707158828.19', 'price_change': '-0...","{'volume': '17689222989.98', 'price_change': '...",ETH,NaN
35,HBAR,HBAR,HBAR,Hedera Hashgraph,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,0.21656769,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,19389577880,...,2019-09-17T00:00:00Z,2019-09-17T00:00:00Z,36,0,0.42808852,2021-09-15T00:00:00Z,"{'volume': '84423724.75', 'price_change': '-0....","{'volume': '2416655998.01', 'price_change': '-...",NaN,NaN
36,SAND2,SAND2,SAND,The Sandbox,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,3.92659039,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,1035054385,...,2020-08-14T00:00:00Z,2020-08-11T00:00:00Z,37,0,6.70989466,2021-11-28T00:00:00Z,"{'volume': '1003542497.93', 'price_change': '-...","{'volume': '27292949347.06', 'price_change': '...",ETH,NaN
39,ICP,ICP,ICP,Dfinity,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,18.79519664,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,204047144,...,2021-05-06T00:00:00Z,2021-01-30T00:00:00Z,40,0,378.78261506,2021-05-05T00:00:00Z,"{'volume': '246837803.89', 'price_change': '-0...","{'volume': '8907015894.20', 'price_change': '-...",NaN,2021-03-24T00:11:30.852913Z
40,VET,VET,VET,VeChain Thor,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,0.054871755,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,66760741299,...,2018-07-13T00:00:00Z,2018-08-29T00:00:00Z,41,0,0.21248359,2021-04-18T00:00:00Z,"{'volume': '397409295.44', 'price_change': '-0...","{'volume': '10295391380.91', 'price_change': '...",NaN,NaN
49,KLAY,KLAY,KLAY,Klaytn,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,1.03513829,2022-02-11T00:00:00Z,2022-02-11T02:09:00Z,2631657864,...,2020-03-02T00:00:00Z,2020-02-21T00:00:00Z,50,0,3.58858483,2021-03-30T00:00:00Z,"{'volume': '54503585.64', 'price_change': '-0....","{'volume': '1688045428.50', 'price_change': '-...",KLAY,NaN
56,EOS,EOS,EOS,EOS,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,2.23601937,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,983882069,...,2017-06-23T00:00:00Z,2018-08-29T00:00:00Z,57,0,17.31905533,2018-04-29T00:00:00Z,"{'volume': '521807841.02', 'price_change': '-0...","{'volume': '13545213360.70', 'price_change': '...",EOS,NaN
60,AAVE,AAVE,AAVE,Aave,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,154.00135523,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,13513440,...,2020-10-02T00:00:00Z,2020-10-04T00:00:00Z,61,0,517.55449169,2021-05-18T00:00:00Z,"{'volume': '183029737.39', 'price_change': '-7...","{'volume': '7214978548.98', 'price_change': '-...",ETH,NaN
62,BLOCKSTACK,BLOCKSTACK,STX,Stacks,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,1.40016044,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,1297740718,...,2017-11-10T00:00:00Z,2019-06-05T00:00:00Z,63,0,2.53909295,2021-12-01T00:00:00Z,"{'volume': '46420999.59', 'price_change': '-0....","{'volume': '1832063597.80', 'price_change': '-...",NaN,NaN
66,ENJ,ENJ,ENJ,Enjin Coin,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,1.73805114,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,934340660,...,2017-11-01T00:00:00Z,2018-08-29T00:00:00Z,67,0,4.00201230,2021-11-24T00:00:00Z,"{'volume': '220906691.63', 'price_change': '-0...","{'volume': '6060765138.91', 'price_change': '-...",ETH,NaN
67,AR,AR,AR,Arweave,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,30.85471888,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,50108502,...,2020-06-20T00:00:00Z,2020-02-13T00:00:00Z,68,0,73.98746402,2021-11-04T00:00:00Z,"{'volume': '108684620.47', 'price_change': '-2...","{'volume': '1890448316.82', 'price_change': '-...",NaN,NaN
79,RUNE,RUNE,RUNE,Thorchain,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,3.94411981,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,300750085,...,2019-07-20T00:00:00Z,2019-07-26T00:00:00Z,80,0,16.74321430,2021-05-18T00:00:00Z,"{'volume': '123757403.91', 'price_change': '-0...","{'volume': '3901882941.37', 'price_change': '-...",BNB,NaN
82,LRC,LRC,LRC,Loopring,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,0.88910760,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,1245991469,...,2017-09-01T00:00:00Z,2018-08-29T00:00:00Z,83,0,3.02458356,2021-11-24T00:00:00Z,"{'volume': '253080075.85', 'price_change': '-0...","{'volume': '9608862669.17', 'price_change': '-...",ETH,NaN
83,CELO,CELO,CELO,Celo,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,2.73085264,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,387111233,...,2020-08-28T00:00:00Z,2020-05-21T00:00:00Z,84,0,6.48431865,2021-09-24T00:00:00Z,"{'volume': '87466572.73', 'price_change': '-0....","{'volume': '2006526804.90', 'price_change': '-...",CELO,NaN
86,NEXO,NEXO,NEXO,Nexo,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,1.84656749,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,560000010,...,2018-05-01T00:00:00Z,2019-03-07T00:00:00Z,87,0,3.26676283,2021-05-03T00:00:00Z,"{'volume': '8842436.09', 'price_change': '-0.1...","{'volume': '241064837.67', 'price_change': '-0...",ETH,NaN
87,DASH,DASH,DASH,Dash,https://s3.us-east-2.amazonaws.com/nomics-api/...,active,97.11365803,2022-02-11T00:00:00Z,2022-02-11T02:10:00Z,10573185,...,2014-02-07T00:00:00Z,2018-08-29T00:00:00Z,88,0,1217.92292707,2017-12-20T00:00:00Z,"{'volume': '196885677.27', 'price_change': '-2...","{'volume': '5933248994.24', 'price_change': '-...",NaN,NaN

In [90]:
corr= df.set_index('price').corr()

corr

#jsonDivisa.graphics.plot_corr(corr, xnames=list(corr.columns))
#plt.show()

Empty DataFrame
Columns: []
Index: []