In [21]:
import pandas as pd
import numpy as np

In [8]:
df =pd.read_csv('divisas20220210-214417.csv')

In [9]:
df_2 = df.drop(columns=['symbol', 'logo_url', 'price_timestamp', '1d', '30d', 'platform_currency'])

In [26]:
df_2['diferencia'] = np.nan

df_2

,Unnamed: 0,id,currency,name,status,price,price_date,circulating_supply,max_supply,market_cap,...,first_candle,first_trade,first_order_book,rank,rank_delta,high,high_timestamp,first_priced_at,rank_high,diferencia
0,0,BTC,BTC,Bitcoin,active,37826.902406,2022-02-11T00:00:00Z,18954368,2.100000e+07,716985028503,...,2011-08-18T00:00:00Z,2011-08-18T00:00:00Z,2017-01-06T00:00:00Z,1,0,58436.119135,2021-11-08T00:00:00Z,NaN,98,NaN
1,1,ETH,ETH,Ethereum,active,2676.732258,2022-02-11T00:00:00Z,119530063,NaN,319949976462,...,2015-08-07T00:00:00Z,2015-08-07T00:00:00Z,2018-08-29T00:00:00Z,2,0,4159.362825,2021-11-08T00:00:00Z,NaN,98,NaN
2,2,USDT,USDT,Tether,active,0.877626,2022-02-11T00:00:00Z,78385451173,NaN,68793072633,...,2013-12-27T00:00:00Z,2013-12-27T00:00:00Z,2018-08-29T00:00:00Z,3,0,0.971483,2015-11-04T00:00:00Z,NaN,98,NaN
3,3,BNB,BNB,Binance Coin,active,361.998581,2022-02-11T00:00:00Z,168137036,1.681370e+08,60865368415,...,2017-07-14T00:00:00Z,2017-07-14T00:00:00Z,2018-08-29T00:00:00Z,4,0,572.214441,2021-11-25T00:00:00Z,NaN,98,NaN
4,4,USDC,USDC,USD Coin,active,0.876969,2022-02-11T00:00:00Z,52086157455,5.208767e+10,45677958575,...,2018-09-27T00:00:00Z,2018-09-27T00:00:00Z,2018-10-26T00:00:00Z,5,0,0.939492,2020-03-20T00:00:00Z,NaN,98,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,MINA,MINA,Mina Protocol,active,2.387067,2022-02-11T00:00:00Z,374145973,8.923070e+08,893111470,...,2021-04-13T00:00:00Z,2021-04-13T00:00:00Z,2021-04-15T00:00:00Z,96,-2,45.886242,2021-05-30T00:00:00Z,2021-04-14T14:25:23.039277Z,98,NaN
96,96,XEM,XEM,NEM,active,0.099004,2022-02-11T00:00:00Z,8999999999,9.000000e+09,891036853,...,2015-03-31T00:00:00Z,2015-03-31T00:00:00Z,2018-08-29T00:00:00Z,97,-2,1.504843,2018-01-07T00:00:00Z,NaN,98,NaN
97,97,HOT,HOT,Holo,active,0.004777,2022-02-11T00:00:00Z,177619433541,1.776194e+11,848466434,...,2018-04-29T00:00:00Z,2018-04-29T00:00:00Z,2018-08-29T00:00:00Z,98,1,0.024381,2021-04-05T00:00:00Z,NaN,98,NaN
98,98,DCR,DCR,Decred,active,60.241487,2022-02-11T00:00:00Z,13755681,2.100000e+07,828662663,...,2016-02-09T00:00:00Z,2016-05-16T00:00:00Z,2018-09-12T00:00:00Z,99,2,205.563780,2021-04-16T00:00:00Z,NaN,98,NaN
99,99,LN,LN,LINK,active,129.582142,2022-02-11T00:00:00Z,5976022,6.045959e+06,774385710,...,2020-03-27T00:00:00Z,NaN,2020-03-27T00:00:00Z,100,2,278.791632,2021-04-01T00:00:00Z,NaN,98,NaN

In [27]:
df_2['diferencia'] = df_2['diferencia'].fillna('Unknown')

In [31]:
for i in range(0, len(df_2)-1):
    df_2['diferencia']= df_2['high']-df_2['price']

print (df_2['diferencia'])

0     20609.216729
1      1482.630567
2         0.093857
3       210.215860
4         0.062523
          ...
95       43.499175
96        1.405839
97        0.019604
98      145.322293
99      149.209490
Name: diferencia, Length: 100, dtype: float64

Vamos a encontrar la divisa que ha tenido mayor variación con respecto al ranking

In [42]:
max_delta=max(df_2.rank_delta)
min_delta=min(df_2.rank_delta)
max_delta
min_delta

def mayor_variacion(a, b):
    if abs(a)>abs(b):
        return a
    else:
        return b
    
mayor_var=mayor_variacion(max_delta, min_delta)
mayor_var

-19

In [43]:
df_2[df_2.rank_delta == mayor_var] # La divisa que mayor variación tuvo con respceto al ranking

,Unnamed: 0,id,currency,name,status,price,price_date,circulating_supply,max_supply,market_cap,...,first_candle,first_trade,first_order_book,rank,rank_delta,high,high_timestamp,first_priced_at,rank_high,diferencia
80,80,BITTORRENT,BITTORRENT,BitTorrent V1 (OLD),active,0.001254,2022-02-11T00:00:00Z,932497500000,9.900000e+11,1168893509,...,2018-05-23T00:00:00Z,2018-05-23T00:00:00Z,2019-01-31T00:00:00Z,81,-19,0.253286,2018-06-02T00:00:00Z,NaN,98,0.252032